*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(49, 6, 90);
    color: rgb(49, 6, 90) ;
    font-family: 'Roboto', sans-serif;
}
h1{
    color: orangered;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 30px;
}
.box{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


form, .box-msg{
    background-color: #e1e1e1;
    border-radius: 4px;
    padding: 20px;
}
form div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}  
label{
    font-size: 16px;
    padding: 10px;
}
input{
    padding: 10px;
}
input, select{
  flex: 1;
    height: 6vh;
    border: 4px solid transparent;
}
input:focus-visible{
    border: 2px solid orangered;
}
a{
    text-decoration: none;
}
a:hover{
    color: orangered;
} 
button, #btn-subscribe-again{
    width: 100%;
    height: 8vh; 
    background-color: orangered;
    color:rgb(49, 6, 90) ;
    font-size: 18px;
    font-weight: bolder;
    border:4px solid orangered;
    margin-top: 14px;
}
button:hover, #btn-subscribe-again:hover {
    background-color:rgb(49, 6, 90) ;
    border:4px solid rgb(49, 6, 90);
    color: orangered;
    pointer-events: auto;
}

.box-msg{
max-width: 500px;
 font-size: 16px;
 padding: 20px;
 margin: 0 20px;
 display: flex;
flex-direction: column;
align-items: center;
gap: 16px;
 
}

.hidden{
    display: none;
}
.error{
    font-size: 14px;
    color: red;
    font-weight: 600;
    margin: 5px 20px;
}
.name,.payment,.result,.time,.tax{
color: orangered;
font-weight: 700;
 }
 .name{
    text-transform: uppercase;
 }
 .result{
    font-size: 18px;
    font-weight: bolder;
 }